@model IEnumerable<Web.Models.LearningBehavior>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>學習行為</h2>

<ul class="nav nav-tabs">
    <li><a href="http://localhost:57874/Unanswereds/Index">修課學生</a></li>
    <li class="active"><a href="http://localhost:57874/Checks/Index">任務組別</a></li>
</ul>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subAction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
        </tr>
    }

</table>
