@model Web.Models.Mission

@{
    ViewBag.Title = "Details";
}

<h2>詳細資料</h2>

<div>
    <h4>Mission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MDetail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit_Mission", new { mid = Model.MID, cid = Model.CID }) |
    @Html.ActionLink("Back to List", "Index_Mission", "Missions")
</p>
