@model IEnumerable<Web.Models.Mission>

@{
    ViewBag.Title = "Index_Mission";
    Layout = "~/Views/Shared/Course_Layout.cshtml";
}

<h2>任務列表</h2>

<p>
    @Html.ActionLink("新增任務", "Create_Mission")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Start)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.End)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit_Mission", new { mid = item.MID, cid = item.CID }) |
        @Html.ActionLink("Details", "Details_Mission", new { mid = item.MID, cid = item.CID }) |
        @Html.ActionLink("Delete", "Delete_Mission", new { mid = item.MID, cid = item.CID })
    </td>
</tr>
}

</table>
