@model Web.Models.Course

@{
    ViewBag.Title = "Details_Course";
    Layout = "~/Views/Shared/Course_Layout.cshtml";
}

@using (Html.BeginForm("Details_Course", "Courses", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h2>詳細資料</h2>

    <div>
        <h4>Course</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CName)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("編輯", "Edit_Course", new { cid = Model.CID, tid = Model.TID}) |
        @Html.ActionLink("返回課程", "Details_Course")
    </p>
} 