@model IEnumerable<Web.Models.Teacher>

@{
    ViewBag.Title = "Index";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 管理者首頁</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("管理者首頁", "Index", "Teachers", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("教師名單", "Index", "Teachers")</li>
                <li>@Html.ActionLink("課程", "Index", "Courses")</li>
            </ul>
        </div>
    </div>
</div>


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TID })
            </td>
        </tr>
    }

</table>
